
.form {
  width: 100%;

  > div {
    margin: 5px 0;

    label {
      color: #333333;
      font-size: 14px;
      margin-bottom: 5px;
    }

    input {
      display: block;
      background-color: #efefef;
      border: none;
      height: 30px;
      border-radius: 5px;
      width: 100%;
      padding: 0 10px;
    }

    .error {
      font-size: 14px;
      color: #ff6a6a;
    }

  }

  button[type="submit"] {
    width: 100%;
    border: none;
    background-color: #58ab58;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }

  &.formik button {
    background-color: #3700ca;
  }

  &.react-hook-form button {
    background-color: #f6008a;
  }

  .rendering {
    margin-top: 20px;
    background-color: #333333;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
  }
}
